#instruction {
    padding-top: 100px;
    text-align: center;
}

input {
	width: 600px;
	height: 300px;
	text-align: center;
}

form {
	width: 600px;
	height: 300px;
	padding-left: 300px;
}

p {
	padding-top: 10px;
	text-align: center;
}